<!DOCTYPE html>
<title>Modern Tornado</title>
<html>
    <h1>Upload an image</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" onchange="javascript:this.form.submit()">
        {% module xsrf_form_html() %}
    </form>

    <h2>Recent uploads</h2>
    {% for img in imgs %}
        <a href="{{ reverse_url('show_image', img['_id'], 'orig') }}">
            <img src="{{ reverse_url('show_image', img['_id'], 'thumb') }}">
        </a>
    {% end %}
</html>